@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://www.puresourcecode.com/" target="_blank">
                <img alt="PureSourceCode.com logo" src="img/psc_logo.png" width="30px" valign="middle" />PureSourceCode.com
            </a>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
