@if (IncludeSearchButton)
{
    <button class="btn btn-light btn-sm rounded-circle align-baseline" @onclick="ApplyFilters">
        <i class="fas fa-search"></i>
    </button>
}

@if (IncludeToggleFilters)
{
    @if (ShowHeaderFilters)
    {
        <button class="btn btn-light btn-sm rounded-circle align-baseline">
            <i class="fas fa-minus" @onclick="(e) => ShowHeaderFiltersChangedEvent.InvokeAsync(false)"></i>
        </button>
    }
    else
    {
        <button class="btn btn-light btn-sm rounded-circle align-baseline">
            <i class="fas fa-plus" @onclick="(e) => ShowHeaderFiltersChangedEvent.InvokeAsync(true)"></i>
        </button>
    }
}