@if (IsLoading)
{
    <div class="alert alert-warning" role="alert">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        @LoadingText
    </div>
}

@code {
    /// <summary>
    /// Determins if it has to display the spinner
    /// </summary>
    [Parameter]
    public bool IsLoading { get; set; }

    /// <summary>
    /// The loading text to display
    /// </summary>
    /// <value>
    /// By default the value is "Loading data..."
    /// </value>
    [Parameter]
    public string? LoadingText { get; set; } = "Loading data...";
}